// navbar

$heading-spacing: -.08rem;

.navbar {

  .breadcrumb {
    padding-left: 0;
    margin-bottom: 0;
  }

}

.doc-header {
  padding-top: 100px;
  padding-bottom: 2rem;
  background: $gray-200;

  .title {
    margin-bottom: 2rem;
    letter-spacing: $heading-spacing;
  }

  .description {
    margin-bottom: 2rem;
  }
}

.nav-ribbon {
  padding-top: .5rem;
  border-bottom: 2px solid $gray-200;

  .nav-link {
    color: $gray-600;

    &.active {
      color: theme-color("primary");
      border-bottom: 3px solid theme-color("primary");
    }
  }

}

.steps-list {
  padding: 3rem 0;

  > div > ol {
    list-style: none;
    counter-reset: li;
  }

  .step {
    position: relative;
    margin-bottom: 2rem;
    border-bottom: 1px dotted $gray-400;

    .title {
      letter-spacing: $heading-spacing;
    }

    &::before {
      position: absolute;
      top: .2rem;
      left: -2.5rem;
      display: block;
      width: 1.9rem;
      height: 1.9rem;
      font-size: 1.1rem;
      font-weight: 700;
      line-height: 2rem;
      color: $gray-200;
      text-align: center;
      content: counter(li);
      counter-increment: li;
      background: $gray-800;
      border-radius: 2em;
    }

    .description {
      margin-bottom: 1rem;
    }
  }
}


.popover-bottom {
  padding: $popover-header-padding-y $popover-header-padding-x;
  margin-top: 0; // Reset the default from Reboot
  color: $popover-header-color;
  background-color: $popover-header-bg;
  border-top: $popover-border-width solid darken($popover-header-bg, 5%);
  $offset-border-width: calc(#{$border-radius-lg} - #{$popover-border-width});

  &:empty {
    display: none;
  }
}
